<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
  <div>
    <div className="loginContainer">
      <br>
      <div class="container mt-5 loginContainer_1">
          <div style="display: flex; justify-content: space-between;">
            <button id="home-btn" class="login-button" style="order: 1;">Home</button>
            <h4 style="text-align: center; font-size: 40px; order: 2;">Login</h4>
            <button id="register-btn" class="login-button" style="order: 3;">회원가입</button>
          </div>
          <form class="mt-5" action="/login" method="POST">
              <div class="mt-5 form-group" style="display: flex; align-items: center;">
                <label style="font-size: 30px; margin-right: 10px;">ID</label>
                <input type="text" class="form-control" name="id" style="flex: 1;">
              </div>
              <div class="mt-5 form-group" style="display: flex; align-items: center;">
                <label style="font-size: 30px; margin-right: 10px;">Password</label>
                <input type="password" class="form-control" name="pw" style="flex: 1;" />
              </div>
              <div class="mt-5" style="display: flex; justify-content: flex-end;">
                <button type="submit" class="center-btn btn btn-outline-secondary">Login</button>
              </div>              
          </form>
      </div>
    </div>
  </div>

  <style>
    a {
      color: #fff; 
      text-decoration: none;
    }
    
    .login-button {
      display: inline-block;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 5px;
      background-color: #ff4d4d;
      color: #fff;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;
    }
  
    .login-button:hover {
      background-color: #ff6666;
    }

    .center-btn {
      width: 100px;
      height: 50px;
      font-size: 16px;
    }
  </style>

  <script>
    $("#home-btn").click(() => {
      window.location.replace("/");
    })

    $("#register-btn").click(() => {
      window.location.replace("/register");
    })
  </script>
</body>
</html>