<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <button><a href="/">Home</a></button>
    <button><a href="/login">Login</a></button>
    <div class="container mt-3 loginContainer_2">
        <form action="/register" method="POST">
            <h4 style="text-align: center; font-size: 40px">Sign up</h4>
            <div class="form-group">
              <label style="font-size: 30px;">Name</label>
              <input type="text" class="form-control" name="name" />
            </div>
            <div class="form-group">
              <label style="font-size: 30px; display: block;">ID</label>
              <div>
                <input id="registerid" type="text" class="form-control" style="width: 90%; display: inline-block; height: 100%" name="id" />
                <button id="doublecheck" style="display: inline-block; width: 9%; height: 100%" class="btn btn-outline-secondary">중복확인</button>
              </div>
            </div>
            <div class="form-group">
              <label style="font-size: 30px;">Phone Number</label>
              <input type="text" class="form-control" name="phonenumber" />
            </div>
            <div class="form-group">
              <label style="font-size: 30px;">Password</label>
              <input type="password" class="form-control" name="pw" />
            </div>
            <button type="submit" class="btn btn-outline-secondary">Sign up</button>
        </form>
      </div>
    </div>
    
    <style>
      .button-container {
        display: flex;
        align-items: center;
      }
    </style>

  <!-- <script>
    $('#doublecheck').click(() => {
      var id = $('#registerid').val();
      $.ajax({
        method: 'POST',
        url: '/register/doublecheck',
        data: {id: id}
      }).done(function(result) {
        console.log(result);
      }).fail(function(a,b,c) {
        console.log(a,b,c);
      })
    })
  </script> -->
</body>
</html>